@import "../../scss/vars";
@import "../../scss/mixin";

.swiper {
   margin-top: .1rem;

   max-width: 50%;

   @include mq(lg, max) {
      max-width: 100%;
   }

   .swiper-slide {
      @include Display("", "", center, "");
   }

   .swiper-button-prev, .swiper-button-next {
      &::after {
         font-size: 2rem;
         color: $black-500;
      }
   }

   .swiper-pagination-bullet {
      background: $black-500;
   }
}
