@import "../../scss/vars";
@import "../../scss/mixin";

.apresentation-section {
   @include Display("", center, space-between, "");

   padding: 2rem 2.4rem;

   background-color: $beige-400;

   @include mq(lg, max) {
      padding: 2rem 0 0;

      flex-direction: column;
      gap: 2.5rem;
   }

   .title-apresentation {
      flex: 1;

      @include mq(lg, max) {
         padding: 0 1.6rem;
      }

      .title {
         text-align: center;
         padding-bottom: 1.5rem;
      }

      .description {
         text-align: center;
      }

      .check-product {
         display: block;
         padding-top: 2rem;
         color: $beige-500;
      }

      .comparison-soon {
         @include Display("", center, center, 1rem);
         padding-top: 1.2rem;

         .old-logo {
            width: 8.5rem;
         }
      }
   }
}

.product-list {
   padding: 0 2.4rem 2.4rem;

   background-color: $white-500;

   @include mq(lg, max) {
      padding: 0 1.6rem 2.4rem;
   }

   .section-title {
      padding: 2rem 0 3rem;

      text-align: center;
      color: $beige-500;

      @media screen and (max-width: 425px) {
         font-size: 2rem;
      }
   }

   .container {
      @include Display("", center, center, 2rem);
      flex-wrap: wrap;

      .product {
         width: 26.6rem;
         height: 35rem;

         border-radius: 3.5rem;

         position: relative;

         overflow: hidden;

         @include mq(sm, max) {
            width: 100%;
         }

         img {
            object-fit: cover;

            width: 100%;
            height: 100%;

            border-radius: 2rem;

            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
         }

         .product-access {
            margin-bottom: 2rem;
            width: 100%;

            position: absolute;
            bottom: 0;
            left: 0;

            display: flex;
            flex-direction: column;
            align-items: center;

            strong {
               margin-bottom: 1rem;

               font-size: 2.5rem;
               font-weight: 700;

               color: $white-500;

               letter-spacing: 2px;

               text-align: center;
               text-transform: uppercase;
            }

            a {
               padding: .2rem 1.5rem;

               font-size: 1.5rem;
               font-weight: 700;

               background-color: $white-500;
               border-radius: .8rem;

               background-color: $lilac-300;
               color: $wine-500;

               transition: all 0.3s;

               &:hover {
                  background-color: $wine-500;
                  color: $lilac-300;
               }
            }
         }

         &:hover {
            img {
               -moz-transform: scale(1.1);
               -webkit-transform: scale(1.1);
               transform: scale(1.1);
            }
         }
      }
   }
}

.our-story {
   .section-title {
      padding: 2rem 0 3rem;

      text-align: center;
      color: $beige-500;

      @media screen and (max-width: 425px) {
         font-size: 2rem;
      }
   }

   .container {
      @include Display("", flex-start, space-evenly, "");

      padding: 0 2.4rem 3rem;

      @include mq(lg, max) {
         padding: 0 1.6rem 3rem;
      }

      .shop-img {
         width: 25%;
         border-radius: .8rem;

         @include mq(lg, max) {
            display: none;
         }
      }

      .description {
         @include mq(lg, max) {
            @include Display(column, center, "", "");
         }

         .text {
            font-size: 1.8rem;
            margin-bottom: 5rem;

            span {
               display: block;
               margin-bottom: 5rem;
            }

            @include mq(lg, max) {
               text-align: center;
            }

            @include mq(sm, max) {
               font-size: 1.6rem;
            }
         }

         .access-aboutUs {
            padding: 1rem 2rem;

            border: .2rem solid $beige-500;
            border-radius: .4rem;

            color: $beige-500;

            transition: all 0.3s;

            &:hover {
               border: .2rem solid $beige-400;
               color: $beige-400;
            }
         }
      }
   }
}
