@import "../../scss/vars";
@import "../../scss/mixin";

.product {
   @include Display(column, "", "", "");

   max-width: 45rem;

   background-color: $white-500;

   border-radius: .8rem;

   @include mq(sm, max) {
      margin-bottom: 2rem;
   }

   &-image {
      .image {
         width: 100%;
         height: 30rem;

         border-radius: .8rem .8rem 0 0;

         @include mq(sm, max) {
            height: auto;
         }
      }
   }

   &-title {
      @include Display(column, center, center, 1rem);
      padding: 1rem 1.2rem 0;

      .product-description-price {
         @include Display(column, center, center, 1rem);

         .description {
            max-height: 12rem;

            font-size: 1.5rem;
            text-align: center;

            color: $gray-500;

            overflow-y: auto;

            .glutem {
               display: block;
               padding: .5rem;
               text-transform: uppercase;
            }
         }

         .sku-container, .product-price {
            @include Display("", center, space-between, "");
            padding-top: 1rem;

            .input-wrapper {
               @include Display("", center, "", .5rem);
            }

            .checkbox {
               height: 1.4rem;
               width: 1.4rem;
               appearance: none;
               border: .1rem solid $black-rgba-205 ;
               cursor: pointer;

               &:checked {
                  background-color: white;
                  position: relative;

                  &::after {
                     content: "";

                     position: absolute;
                     top: 50%;

                     width: 100%;
                     height: 100%;

                     background-color: $beige-500;

                     transform: translateY(-50%);
                  }
               }

               &:disabled {
                  opacity: .5;

                  &:hover {
                     cursor: no-drop;
                  }
               }

            }

            .product-size, .price {
               font-size: 1.2rem;
               font-weight: 700;

               color: $gray-500;
            }

            .price {
               &.disabled {
                  opacity: .5;
                  cursor: no-drop;
               }
            }
         }
      }
   }

   &-name {
      text-transform: capitalize;
   }

   .container-button {
      flex: 1;
      @include Display("", flex-end, center, "");

      padding: 2rem 1.2rem;

      .add-cart {
         height: 4.5rem;
         width: 100%;

         font-size: 1.5rem;
         font-weight: 700;

         border-radius: .8rem;

         background-color: $lilac-300;
         color: $wine-500;

         transition: all 0.3s;

         @include mq(lg, min) {
            &:hover {
               background-color: $wine-500;
               color: $lilac-300;
            }
         }

         &:disabled {
            opacity: .5;

            &:hover {
               background-color: $lilac-300;
               color: $wine-500;

               cursor: no-drop;
            }
         }
      }
   }
}

.message-cart {
   position: fixed;
   bottom: 25px;
   left: 25px;

   max-width: 350px;
   height: 50px;

   display: flex;
   align-items: center;
   justify-content: center;

   padding: 0 16px;

   background-color: $beige-500;
   color: $white-500;

   border-radius: 8px;
}
