@import "../../scss/vars";
@import "../../scss/mixin";

.main {
   padding: 0 2.4rem;

   @include mq(lg, max) {
      padding: 0 1.6rem;
   }

   .title {
      padding: 5rem 0;
      text-align: center;
      color: $beige-500;
   }

   .products {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(40rem, 0fr));
      justify-content: center;
      gap: 4.5rem 5rem;

      padding-bottom: 3rem;

      @include mq(md, max) {
         grid-template-columns: repeat(auto-fit, minmax(33rem, 0fr));
      }

      @media screen and (max-width: 480px) {
         display: block;
      }

      .loading {
         height: 100vh;
         text-align: center;
         font-size: 1.8rem;
      }

      .no-product {
         height: 100vh;

         @include Display("", flex-start, center, "");

         h5 {
            font-size: 1.8rem;
            text-align: center;
         }
      }
   }

   .other-products {
      width: 100%;
      padding: 0 0 3rem;

      &-title {
         font-size: 1.8rem;
         text-align: center;
         color: $beige-500;
         padding: 2rem 0;
      }

      &-links {
         @include Display("", center, center, 1.2rem);

         @include mq(sm, max) {
            flex-direction: column;
         }

         a {
            color: $gray-500;

            &:hover {
               color: lighten($gray-500, 9);
            }
         }
      }
   }
}
