@import "./scss/vars";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   font-family: 'Open Sans', sans-serif;
}

html {
   font-size: 62.5%;
}

body {
   font-size: 1.6rem;
   background-color: $white-400;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
}

button {
   background-color: transparent;
   border: 0;

   cursor: pointer;
}

.dolce-cannella {
   font-style: italic;
   color: $beige-400;
}

.animation-arrow {
   transform: rotate(-180deg);
   transition: 300ms transform;
}
