$white-400: #F9F9F9;
$white-500: #ffffff;

$black-500: #000000;

$black-rgba: rgba(0, 0, 0, 0.205);

$beige-400: #F2D59C;
$beige-500: #AB5235;

$lilac-300: #e5dbd0;

$wine-500: #3a181d;

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
) !default;
