$white-400: #f3f3f3;
$white-500: #ffffff;

$black-500: #000000;

$gray-100: #C4C4C4;
$gray-500: #666666;

$black-rgba-205: rgba(0, 0, 0, 0.205);

$beige-400: #F2D59C;
$beige-500: #AB5235;

$lilac-300: #e5dbd0;
$wine-500: #3a181d;
$red-500: #be1e1e;
$blue-500: #0078D4;
$green-500: #25D366;

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
) !default;
